<h1><%= t('sessions.new.title') %></h1>

<%= form_with(url: session_path) do |form| %>
  <div class="field">
    <%= form.label :email, t('sessions.new.email') %>
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :password, t('sessions.new.password') %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit t('sessions.new.sign_in') %>
  </div>
<% end %>

<p>
  <%= link_to t('sessions.new.forgot_password'), new_password_reset_path %>
</p>
