<h1><%= t('password_resets.edit.title') %></h1>

<% if @user.errors.any? %>
  <div class="error_explanation">
    <h2><%= pluralize(@user.errors.count, t('errors.prohibited_user_save')) %></h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: password_reset_path(@token), method: :patch do %>
  <div class="field">
    <%= label_tag :password, t('password_resets.form.password') %>
    <%= password_field_tag 'user[password]' %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, t('password_resets.form.password_confirmation') %>
    <%= password_field_tag 'user[password_confirmation]' %>
  </div>

  <div class="actions">
    <%= submit_tag t('password_resets.form.update_password') %>
  </div>
<% end %>
