<h1 class="text-2xl font-bold mb-6"><%= @event.name %></h1>

<% if @event.image.attached? %>
  <div>
    <%= image_tag url_for(@event.image), alt: @event.name, class: "w-full max-w-sm h-auto rounded-lg shadow-md" %>
  </div>
<% else %>
  <p class="text-sm text-gray-700"><%= t('admin.events.no_image') %></p>
<% end %>

<p class="mt-4"><strong><%= t('admin.events.event_details.description') %>:</strong> <%= @event.description %></p>
<p><strong><%= t('admin.events.event_details.location') %>:</strong> <%= @event.location %></p>
<p><strong><%= t('admin.events.event_details.price') %>:</strong> <%= number_to_currency(@event.price) %></p>
<p><strong><%= t('admin.events.event_details.capacity') %>:</strong> <%= @event.capacity %></p>
<p><strong><%= t('admin.events.event_details.starts_at') %>:</strong> <%= @event.starts_at.strftime("%b %d, %Y %I:%M %p") %></p>
<p>
  <strong><%= t('admin.events.event_details.category') %>:</strong>
  <%= @event.category ? @event.category.name : t('admin.events.messages.no_category') %>
</p>

<!-- Displaying the number of registrations for this event -->
<p><strong><%= t('admin.events.event_details.registrations_count') %>:</strong> <%= @event.registrations.count %></p>

<!-- Navigation Links -->
<div class="mt-6">
  <%= link_to t('admin.events.index_title'), admin_events_path, class: 'px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition' %>
</div>
