<div>
  <% if @event.image.attached? %>
    <p>
      <strong><%= t('events.image') %>:</strong><br>
      <%= image_tag @event.image %>
    </p>
  <% end %>

  <h1><%= @event.name %></h1>
  <div>
    <p><%= t('events.location') %>: <%= @event.location %></p>
    <p><%= t('events.price') %>: <%= @event.price == 0 ? t('events.free') : number_to_currency(@event.price) %></p>
    <p><%= t('events.capacity') %>: <%= pluralize(@event.capacity, t('events.spots')) %></p>
    <p><%= t('events.category') %>: <%= @event.category.name %></p>
    <p><%= t('events.date_and_time') %>: <%= @event.starts_at.strftime("%b %d, %Y %I:%M %p") %></p>
  </div>
  <div>
    <h2><%= t('events.description') %></h2>
    <p><%= @event.description %></p>
  </div>
</div>

<div>
  <% if current_user && current_user.admin? %>
    <%= link_to t('events.edit_event'), edit_event_path(@event) %>
    <%= link_to t('events.delete_event'), event_path(@event), data: { turbo_method: :delete, turbo_confirm: t('events.confirm_delete') } %>
  <% end %>
  
  <%= link_to t('events.registered_users'), event_registrations_path(@event) %>
  <%= link_to t('events.register_link'), new_event_registration_path(@event) %>
</div>
