<h1>User Details</h1>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Admin:</strong> <%= @user.admin? ? 'Yes' : 'No' %></p>
<p><strong>Joined:</strong> <%= @user.created_at.strftime("%b %d, %Y %I:%M %p") %></p>

<%= link_to 'Back to Users', admin_users_path, class: 'btn btn-primary' %> |
<%= link_to 'Delete User', admin_user_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
