<%= form_with(model: @location, local: true, class: "bg-white p-6 rounded-lg shadow-md") do |form| %>
  <% if @location.errors.any? %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <p><strong><%= pluralize(@location.errors.count, "error") %>:</strong></p>
      <ul class="list-disc pl-6">
        <% @location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :name, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :rent_cost, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.number_field :rent_cost, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :capacity, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.number_field :capacity, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :full_address, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :full_address, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :description, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :google_map_link, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :google_map_link, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :contact_number, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.telephone_field :contact_number, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :contact_email, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.email_field :contact_email, class: "w-full p-2 border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :image, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.file_field :image, class: "w-full" %>
    
    <% if @location.image.attached? %>
      <div class="mt-2">
        <p>Current Image:</p>
        <%= image_tag @location.image, class: "w-32 h-32 object-cover rounded-md" %>
      </div>
      
      <!-- Delete Image Button -->
      <div class="mt-2">
        <%= link_to 'Delete Image', delete_image_location_path(@location), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this image?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
    <% end %>
  </div>

  <div class="flex justify-start">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
