<!DOCTYPE html>
<html>
<head>
  <title>EventManagementSystem</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100 text-gray-900">

  <!-- Full-Width Header Section -->
  <header class="bg-white shadow-md w-full z-10 relative">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <%= link_to 'EventGo', root_path, class: 'text-3xl font-bold text-indigo-600 hover:text-indigo-800' %>

      <%= render 'layouts/language_selector' %>

      <% if current_user && current_user.admin? %>
        <nav class="flex space-x-4">
          <%= link_to 'Events', events_path, class: 'text-gray-700 hover:text-indigo-600' %>
        </nav>
      <% end %>

      <div class="flex items-center space-x-4">
        <% if current_user %>
          <% if current_user.admin? %>
            <%= link_to 'Admin Dashboard', admin_dashboard_index_path, class: 'text-gray-700 hover:text-indigo-600' %> |
          <% end %>
          
          <!-- Check if the current user has an avatar attached -->
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "rounded-full h-10 w-10 object-cover", style: "width: 40px; height: 40px;" %>
          <% end %>

          
          <%= link_to (current_user.name + (current_user.admin? ? ' (ADMIN)' : '')), current_user, class: 'text-gray-700 hover:text-indigo-600 flex items-center space-x-2' %>
          
          <%= link_to 'Sign Out', session_path, data: { turbo_method: :delete }, class: 'px-4 py-2 bg-gray-100 text-gray-700 border border-gray-300 hover:bg-gray-200 hover:text-gray-900' %>
        <% else %>
          <%= link_to 'Sign Up', signup_path, class: 'px-4 py-2 border border-indigo-600 text-indigo-600 hover:bg-indigo-600 hover:text-white' %>
          <%= link_to 'Sign In', new_session_path, class: 'px-4 py-2 border border-indigo-600 text-indigo-600 hover:bg-indigo-600 hover:text-white' %>
        <% end %>
      </div>
    </div>
  </header>

  <!-- Flash Messages Section -->
  <% if flash.any? %> 
    <!-- Full-width container for flash messages -->
    <div id="flash-messages" class="w-full bg-gray-100">
      <div class="max-w-7xl mx-auto space-y-4">
        <% flash.each do |key, message| %>
          <div class="p-4 <% if key == 'notice' %>bg-green-500<% else %>bg-red-500<% end %> text-white">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Main Content Section -->
  <main class="max-w-7xl mx-auto px-4 py-6 bg-white">
    <%= yield %>
  </main>

</body>
</html>
